body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow: hidden;
}

.contaner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ticker {
  color: white;
  font-size: 8vmin;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img{
  margin-right: 10px;
  width: 40px;
  object-fit: contain;
}

.price {
  color: white;
  font-size: 12vmin;
  text-align: center;
}

.up {
  color: #34a853;
}

.down {
  color: #d93025;
}

.fade-top {
  height: 4.5rem;
  background-image: linear-gradient(to top, #424242, black);
}
/* 
.fade-bottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.9),
    black
  );
  transform: translateY(-50%);
} */
